@font-face {
	font-family:'Pt sans';
	src: url("../fuentes/pt-sans_[allfont.es].ttf");
}
*{
/*border: solid red 1px;*/
padding: 1%;
}
body{
  font-family:'PT sans';
}
.espacio1{
  padding: 3%
}
.espacio2{
  padding: 6%;
}
.espacio4{
  padding: 6%;
}
.Bienvenido{
  text-align: center;
  font-size: 140%;
}
.foto1{
  width: 100px;
}
.links{
  text-align: center;
  font-family:'PT sans';
  font-size: 110%;
}
a{color:#1E90FF ;text-decoration:none;}
.DatosPersonales{
  text-align: center;
}
.DPM{
  border: solid grey 2px;
}
.MiSkill{
  text-align: center;
}
.MisSkills{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.Skill1{
  border: solid grey 2px;
}
.Skill2{
  border: solid grey 2px;
}
.Skill3{
  border: solid grey 2px;
}
.Skill4{
  border: solid grey 2px;
}
.Skill5{
  border: solid grey 2px;
}
.Skill6{
  border: solid grey 2px;
}
.Exper{
  text-align: center;
}
.ExperienciaL{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
.exp1{
  border: solid grey 2px;
}
.exp2{
  border: solid grey 2px;
}
.exp3{
  border: solid grey 2px;
}
.exp4{
  border: solid grey 2px;
}


@media only screen and (min-width: 600px) {
.Bienvenido{
    text-align: center;
    font-size: 250%;
}
.foto1{
width: 200px;
}
.DatosPersonales{
  text-align: center;
  font-size: 150%;
}
.links{
  text-align: center;
  font-family:'PT sans';
  font-size: 150%;
}
.MS{
  border: solid grey 2px;
  padding: 4%;
  font-size: 150%;
}
.MisSkills{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 70px;
  grid-column-gap:70px;
}
.EXP{
  border: solid grey 2px;
  padding: 2%;
  font-size: 150%;
}
.ExperienciaL{
  font-size: 80%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap:30px;
}

}


@media only screen and (min-width: 992px) {
  body{
    color:#000000;
    background-color: #DCDCDC
  }
  *{
  /*border: solid red 1px;*/
  }
  .Bienvenido{
      text-align: center;
      font-size: 170%;
  }
  h1{
    color:#000000;
  }
  .espacio4{
    padding: 2%;
  }
  .foto1{
  width: 300px;

  }
  .DatosPersonales{
    text-align: center;
    font-size: 100%;
    background-color: white;
    border: solid grey 2px;
  }
  .DPM{
    border: solid white 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
  }
  .DPMC{
    border: solid grey 2px;
  }
  .links{
    text-align: center;
    font-family:'PT sans';
    font-size: 100%;
  }
  .MS{
    border: solid grey 2px;
    font-size: 100%;
    background-color: white;
  }
  .MisSkills{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap:20px;
  }
  .EXP{
    border: solid grey 2px;
    padding: 2%;
    font-size: 150%;
    background-color: white;
  }
  .ExperienciaL{
    font-size: 70%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    grid-column-gap:30px;
  }










}
